{{!
    This file is part of the Vote activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vote/mobile/latest/vote

    Renders a vote for the mobile app.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * displayresult
    * hasvoted
    * into
    * name
    * open
    * questions

    Example context (json):
    {
        "displayresult" : true,
        "hasvoted": false,
        "intro": "<p>A description of the vote</p>",
        "name": "This is a vote",
        "open": true,
        "questions" : []
    }
}}
{{=<% %>=}}
<div>
    <core-course-module-description description="<% intro %>" component="mod_vote" componentId="<% cmid %>"></core-course-module-description>
    <%^open%>
        <ion-card><ion-card-content>{{ 'plugin.mod_vote.not_active' | translate }}</ion-card-content></ion-card>
    <%/open%>
    <%#open%>
        <%^displayresults%>
            <%#hasvoted%>
                <ion-card><ion-card-content>
                    {{ 'plugin.mod_vote.already_voted' | translate: { $a: { close: <% closedate %> * 1000 | coreFormatDate: "dffulldate" } }  }}
                </ion-card-content></ion-card>
            <%/hasvoted%>
            <%^hasvoted%><%> mod_vote/mobile/latest/voting%><%/hasvoted%>
        <%/displayresults%>
        <%#displayresults%>
            <%#questions%><%> mod_vote/mobile/latest/question%><%/questions%>
        <%/displayresults%>
    <%/open%>
</div>
