{{!
    This file is part of the Vote activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vote/mobile/latest/voting_av_option

    Renders an alternative vote question voting form option for the mobile app.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * oid
    * options
    * qid
    * text

    Example context (json):
    {
        "oid": 42,
        "options": [
            {position: 1},
            {position: 2}
        ],
        "qid": 13,
        "text": "Option 1"
    }
}}
{{=<% %>=}}
<ion-item>
    <ion-select placeholder="{{ 'plugin.mod_vote.novote' | translate }}" [(ngModel)]="CONTENT_OTHERDATA.q<% qid %>.options.o<% oid %>.rank">
        <div slot="label">
            <% text %>
            <ion-badge *ngFor="let error of CONTENT_OTHERDATA.errors.option.o<% oid %>" color="danger" translate>
                {{error}}
            </ion-badge>
        </div>
        <%#options%><ion-select-option value="<% position %>"><% position %></ion-select-option><%/options%>
    </ion-select>
</ion-item>
