{{!
    This file is part of the Vote activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vote/vote_editing

    Renders the editing view of a vote.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * activateurl
    * canedit
    * questions
    * questionurl

    Example context (json):
    {
        "activateurl": "http://example.com?id=13",
        "canedit": true,
        "questions": [],
        "questionurl": "http://example.com?id=13"
    }
}}
{{^canedit}}<div class="alert alert-info">{{#str}} not_active, mod_vote {{/str}}</div>{{/canedit}}
{{#canedit}}
    {{> mod_vote/vote_editing_info}}

    {{#questions}}{{> mod_vote/vote_editing_question}}{{/questions}}

    <p><a href="{{{questionurl}}}" class="btn btn-secondary btn-sm">{{#str}} add_question, mod_vote {{/str}}</a></p>
    <p><a href="{{{activateurl}}}" class="btn btn-primary">{{#str}} activate, mod_vote {{/str}}</a></p>
{{/canedit}}
